@model LostCampStore.Models.ViewModels.Account.UserNavPartialVM

<li class="navbar-text">
    <a href="/account/user-profile" style="text-decoration: none">&nbsp;&nbsp;(&nbsp;Добро пожаловать&nbsp;@Model.FirstName @Model.LastName &nbsp;)&nbsp;&nbsp;&nbsp;</a>
</li>
