@model LostCampStore.Models.ViewModels.Cart.CartVM

<div class="ajaxcart">
    Корзина: @Model.Quantity товаров - @Model.Price BYN  @Html.ActionLink("Заказать", "Index")
    <br />
    

</div>